* {
  box-sizing: border-box;
  outline-style: none;
  text-decoration: none;
  color: black;
}
html, body {margin:0;padding:0;height:100%;width:100%;
  zoom:210%;
}


.Coupon,
.Workers,
.lastSection
{
  margin: 0 10% 0 15%;
}
.nav-wrapper{
  margin-left: 10%;
   width: 90%;
   background-color: black;
}



.top-picture {
      position: relative;
    left: 0%;
    top: 0%;
    z-index: -1;
    margin-left: 10%;
      display: inline-block;
  clip-path: circle(120% at 50%  -50%);
 }
.top-picture>.tpic{ opacity: .9;}
  
.bottomheader.Aheader.tpic{
  position: absolute;
  top: -20px;
  left: 10px;
  margin-left: 2%;
}
.bottomheader.Bheader{
margin-left: 15%;
}
em {
  font-weight: 400;
  font-size: 25px;
}
nav * {
  display: inline-block;
}
.left, .righta {
  padding: 0 10px;
  color: white;
}
.left{
  float: left;
  
}
.rightas{
 
  float: right;
}

h1 {
  margin: 10% 50% 1% 0;
  font-weight: lighter;
  display: inline-block;
  font-size: 60px;
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  
}
.subtitle{
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 1000;
  font-size: larger;
}
.fa-4x{
  display: inline-block;
  width: 400%;
}
.buttons {
  color: white;
  background-color: black;
  padding: 1% 0;
  width: 12%;
  text-align: center;
  display: block;
  font-size: 70%;
  clear: both;
  margin-bottom: 2%;
  margin-top: 2%;
}
.secheaderbtn {
  margin-top: 5%;
  background-color: black;
  width: 35%;
  padding: 13% 10%;
  position: relative;
  height: 100%;
  
}
.secheaderbtn *{color: white;}

.secheaderbtn > div:first-child {
  position: absolute;
  top: 18%;
  left: 20px;
  
  color: white;
}
.secheaderbtn > div:nth-child(2) {
  position: absolute;
  top: 30%;
  left: 20px;
  font-size: 12px;
}
.percentage {
  font-size: 30px;
}
.Aheader > div > a {
  position: absolute;
  bottom: 15%;
  left: 12%;
  margin-top: 10%;

  background-color: white;
  color: black;
  padding: 5% 0%;
  width: 75%;
}
.Bheader > section {
  float: left;
  width: 30%;
  margin-top: 5%;
  margin-right: 1%;
  
}
.paragraph{
  margin: 0 -20% 0 0;
  width: 50%;
}


.Bheader > section * {
  margin: 0 1% 0 0;
}
.Bheader {
  padding: 0 5%;
}
.SecondSQ {
  clear: both;
  margin-bottom: 2%;
  margin-left: 17%;
  display: inline-block;
  width: 110%;
}

.SecondSQ > section:first-child {
  float: left;
  width: 55%;
}
.SecondSQ > section:last-child {
  float: left;
  width: 33%;
  margin: 5% 0 0 0;
  border: 1px solid red;
  height: 250px;
  
}


.arrows {
  float: right;
  margin-top: -10%;
}
h2 {
  font-size: 30px;
  font-weight: lighter;
}
.SecondSQ > section > p {
  margin: 0 40% 6% 0%;
}

.secondbtn {
  width: 20%;
  padding: 3% 0;
}
.Workers {
  clear: both;
  margin-top: 8px;
  height: 390px;
  width: 930px;
  display: inline-block;
}
.Workers > section {
  float: left;
  width: 270px;
  height: 300px;
  margin-right: 10px;

  border: 1px solid black;
}
.Workers > section div {
  width: 210px;
  border: 1px solid black;

  display: inline-block;
  margin-inline-start: 30px;
  margin-top: -5%;
  
  padding: 17px 0;
  text-align: center;
  background-color: black;
  color: white;
}

.Coupon {
  height: 300px;
  width: 850px;
  border: 1px solid gray;
  
  z-index: -1;
  position: relative;
}
.lastSection {
  height: 800px;
  width: 850px;
  border: 1px solid black;
}
.lastSection h2 {
  text-align: center;
  margin-bottom: 20px;
}
.OL1
{
  float: left;
  width: 33.33%;  
  border: 1px solid black;
  
}
.buttons { 
  top:-50px; 
  left:-35px; 
  display:block; 
  z-index:999; 
  cursor: pointer; 
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
  } 
  
  /*change the number below to scale to the appropriate size*/ 
  .buttons:hover { 
  transform: scale(1.2); 
  
  }
.girl1,
.girl2,
.girl3 {
  height: 50%;
}
.girl4,
.girl5,
.girl6 {
  float: left;
  height: 400px;
  margin-top: -90px;
}
.bookonline{
  height: 2%;
  width: 20%;
  margin-top: 5%;
  margin-left: 3%;
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: button;
  color: transparent;
  text-align: center;
  border-radius: 12px;
  font-weight: 900;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer; 
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease;}

  .bookonline:hover {
    transform: scale(1.25) perspective(1px)
  }


  